<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Hawaii Climate Analysis - Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> -->



  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <link rel="stylesheet" href="static/css/style.css">

  <!-- ************  PANELS ************ -->
  <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
  <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
 <!-- ************  END PANELS ************ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
      $(document).ready(function(){
        // 480
            if($(window).width() < 600) { 
                $('h1').css('font-size','20px');
                $('h2').css('font-size','18px');
                $('h3').css('font-size','16px');
                $('h4').css('font-size','14px');
            }
            if($(window).width() < 700) { 
                $('h1').css('font-size','20px');
                $('h2').css('font-size','18px');
                $('h3').css('font-size','16px');
                $('h4').css('font-size','14px');
            }
        });
        // $(document).ready(function(){
      $(window).resize(function(){
          if($(window).width() < 600) { 
              $('h1').css('font-size','20px');
              $('h2').css('font-size','18px');
              $('h3').css('font-size','16px');
              $('h4').css('font-size','14px');
          }
          if($(window).width() >= 600) { 
              $('h1').css('font-size','2em');
              $('h2').css('font-size','1.5em');
              $('h3').css('font-size','1.17em');
              $('h4').css('font-size','1em');
          }
      });
  </script>
  <style>
      #table-area th {
        text-align: left;
      }
      /* #table-area th {
        min-width : 70px;
      } */

      #table-area th:first-child,
      #table-area th:nth-child(2),
      #table-area th:nth-child(3),
      #table-area th:nth-child(4),
      #table-area th:nth-child(5),
      #table-area th:nth-child(6),
      #table-area th:nth-child(7),
      #table-area th:nth-child(8)  {
        min-width: 60px;
        max-width:100px;
      }
  </style>
  <!-- <style>
    .result_paragraph p {
      font-size:18pt;
    }
    
  </style> -->
</head>

<body>
  <div class="wrapper">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Hawaii Climate App
            <img class="nav-ufo">
          </a>
        </div>
      </div>
    </nav>
    <div id= "myHeader">
      <div class="hero text-center">
        <!-- <div class=" hero text-center">  style= "background-image: url('../static/images/bikeshare.jpg');""-->
      
        <h1>Let's explore Hawaii Climate Data!</h1>
        <!-- <p>Let\'s explore some US bikeshare data!</p> style="background-color: rgba(0,0,0,.7); width:100%; height: 100%" -->
        <!-- </div> -->
      </div>
  </div>

  <div class="container">
    <div id = "chooseText" class="row">
      <div class="col-md-12 col-lg-12">
        <!-- <div class="container container-fluid"> -->
        <h1 id = "mainText">Choose to either explore climate data for Hawaii or get climate predictions for your trip to Hawaii below</h1>
        <!-- </div> -->
        <br>
        <br>
        <!-- <div class="col-md-6"> -->
          <div class="panel with-nav-tabs panel-default">
              <div class="panel-heading">
                    <ul id = "myOptions" class="nav nav-pills">
                        <li class="active"><a href="/" data-toggle="tab">Filter Search</a></li>
                        <li><a href="/graphs" data-toggle="tab">Filter Search for Your Trip to Hawaii!</a></li>
                    </ul>
              </div>
              <div class="panel-body">
                  <div class="tab-content">
                      <div class="tab-pane fade in active" id="home">
                        <form action = "{{ url_for('main', _anchor='element_target') }}" method="POST">
                            <div class="form-group">
                              <ul class="list-group" id="filters">
                                <li class="filter list-group-item">
                                  <div class='row'>
                                    <div class='col-sm-9 col-md-9 col-lg-9'>
                                      <p>Would you like to see the last 12 months of precipitation data?</p>
                                    </div>
                                    <div class='col-sm-3 col-md-3 col-lg-3'>
                                      <button id="filter-btn" type="submit" class="btn btn-default" name = "btn" value = "stats">Show Data</button>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                              
                              <hr style='border: 1px solid #30475e'>
                              <ul class="list-group" id="filters">
                                <li class="filter list-group-item">
                                  <div class='row'>
                                    <div class='col-sm-9 col-md-9 col-lg-9'>
                                      <p>Would you like to see a list of the stations from the dataset? </p>
                                    </div>
                                    <div class='col-sm-3 col-md-3 col-lg-3'>
                                      <button id="filter-btn" type="submit" class="btn btn-default" name = "btn" value = "stations">Show Stations</button></p>
          
                                    </div>
                                  </div>
       
                                </li>
                              </ul>
                           
                              <hr style='border: 1px solid #30475e'>
                              <ul class="list-group" id="filters">
                                <li class="filter list-group-item">
                                  <div class='row'>
                                    <div class='col-sm-9 col-md-9 col-lg-9'>
                                      <p>Would you like to see the temperature observations for the last 12 months?</p>
                                    </div>
                                    <div class='col-sm-3 col-md-3 col-lg-3'>
                                        <button id="filter-btn" type="submit" class="btn btn-default" name = "btn" value = "tobs">Show TOBS</button>
                                    </p>
                                    </div>
                                  </div>
                                </li>
                              </ul>
          
                            <hr style = 'border: 1px solid #30475e'>
          
                            {% if wrongDate %}
                              <ul class="list-group" id="filters">
                                <li class="filter list-group-item">
                                  <p>Enter a start date to see the daily maximum, minimum, and average temperatures</p>
                                  <br>
                                  <div class='row'>
                                    <div class='col-sm-2 col-md-2 col-lg-2'>
                                      <label id = "startDate" for="startDate">Start Date : </label>
                                    </div>
          
                                    <div class='col-sm-7 col-md-7 col-lg-7'>
                                      <input name = "startDate" class="form-control" id="startDate" type="text" placeholder="2014-04-01">
                                    </div>
                                    <div class='col-sm-3 col-md-3 col-lg-3'>
                                      <button id="filter-btn" type="submit" class="btn btn-default" name = "btn" value = "startDate">Filter Search</button>
          
                                    </div>
                                  </div>
                                  <div class='row'>
                                    <div class='col-sm-2 col-md-2 col-lg-2'>
                                      <p style='color:rgb(216, 76, 76)'> </p>
          
                                    </div>
                                    <div class='col-sm-7 col-md-7 col-lg-7'>
          
                                      <p style='font-weight:bold; color:rgb(240, 142, 142)'>Please enter a valid date (Format : YYYY-MM-DD)</p>
                                    </div>
                                  </div>
                                </li>
                              </ul>



                            {% elif earlyDate %}
                              <ul class="list-group" id="filters">
                                <li class="filter list-group-item">
                                  <p>Enter a start date to see the daily maximum, minimum, and average temperatures</p>
                                  <br>
                                  <div class='row'>
                                    <div class='col-sm-2 col-md-2 col-lg-2'>
                                      <label id = "startDate" for="startDate">Start Date : </label>
                                    </div>
          
                                    <div class='col-sm-7 col-md-7 col-lg-7'>
                                      <input name = "startDate" class="form-control" id="startDate" type="text" placeholder="2014-04-01">
                                    </div>
                                    <div class='col-sm-3 col-md-3 col-lg-3'>
                                      <button id="filter-btn" type="submit" class="btn btn-default" name = "btn" value = "startDate">Filter Search</button>
                                    </div>
                                  </div>
                                  <div class='row'>
                                    <div class='col-sm-2 col-md-2 col-lg-2'>
                                      <p style='color:rgb(216, 76, 76)'> </p>
          
                                    </div>
                                    <div class='col-sm-7 col-md-7 col-lg-7'>
                                      <p style='font-weight:bold; color:rgb(240, 142, 142)'>The data only goes back to 2010-01-01. Please enter a valid start date after 2010-01-01.</p>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            {% elif startOver_startOnly %}
                              <ul class="list-group" id="filters">
                                <li class="filter list-group-item">
                                  <p>Enter a start date to see the daily maximum, minimum, and average temperatures</p>

                                  <br>
                                  <div class='row'>
                                    <div class='col-sm-2 col-md-2 col-lg-2'>
                                      <label id = "startDate" for="startDate">Start Date : </label>
                                    </div>
          
                                    <div class='col-sm-7 col-md-7 col-lg-7'>
                                      <input name = "startDate" class="form-control" id="startDate" type="text" placeholder="2014-04-01">
                                    </div>
                                    <div class='col-sm-3 col-md-3 col-lg-3'>
                                      <button id="filter-btn" type="submit" class="btn btn-default" name = "btn" value = "startDate">Filter Search</button>
                                    </div>
                                  </div>
                                  <div class='row'>
                                    <div class='col-sm-2 col-md-2 col-lg-2'>
                                      <p style='color:rgb(216, 76, 76)'> </p>
          
                                    </div>
                                    <div class='col-sm-7 col-md-7 col-lg-7'>
                                      <p style='font-weight:bold; color:rgb(240, 142, 142)'>The last date of the dataset is 2017-08-23. Please enter a valid start date prior to 2017-08-23.</p>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                                  
                            {% else %}
                            <ul class="list-group" id="filters">
                              <li class="filter list-group-item">
                                <p>Enter a start date to see the daily maximum, minimum, and average temperatures</p>

                                <br>
                                <div class='row'>
                                  <div class='col-sm-2 col-md-2 col-lg-2'>
                                    <label id = "startDate_label" for="startDate">Start Date : </label>
                                  </div>
          
                                  <div class='col-sm-7 col-md-7 col-lg-7'>
                                    <input name = "startDate" class="form-control" id="startDate" type="text" placeholder="2014-04-01">
                                  </div>
                                  <div class='col-sm-3 col-md-3 col-lg-3'>
                                    <button id="filter-btn" type="submit" class="btn btn-default" name = "btn" value = "startDate">Filter Search</button>
          
                                  </div>
                                </div>
              
                              </li>
                            </ul>
                            {% endif %}

                          <!---==========================--> 
                          <!---==========================-->    
                          <!-- START AND END DATE FILTER -->  
                            <!-- IF START OR END IS WRONG -->
                            {% if wrongDate_both %}
                            <hr style = 'border: 1px solid #30475e'>
                                  <ul class="list-group" id="filters">
                                    <li class="filter list-group-item">
                                      <p>Enter a start and end date to see the daily maximum, minimum, and average temperatures</p>
                                      <br>
                                      <div class='row'>
                                        <div class='col-sm-2 col-md-2 col-lg-2'>
                                          <label id = "startDate_start_label" for="startDate_start">Start Date : </label>                            
                                        </div>
                                        <div class='col-sm-7 col-md-7 col-lg-7'>
                                          <input name = "startDate_start" class="form-control" id="startDate_start" type="text" placeholder="2014-04-01">
                                        </div>
                                      </div>
                                        <br>
                                      <div class='row'>
                                          <div class='col-sm-2 col-md-2 col-lg-2'>
                                            <label id = "startDate_end_label" for="startDate_end">End Date : </label>
                                          </div>
                                          <div class='col-sm-7 col-md-7 col-lg-7'>
                                            <input name = "startDate_end" class="form-control" id="startDate_end" type="text" placeholder="2017-04-01">
                                          </div>
                                          <div id = "filt_both" class='col-sm-2 col-md-2 col-lg-2'>
                                            <button id="filter-btn" type="submit" class="btn btn-default" name = "btn" value = "startDate_start">Filter Search</button>
                                          </div>
                                      </div>
                                    <!-- ERROR MESSAGE -->
                                      <div class='row'>
                                        <div class='col-sm-2 col-md-2 col-lg-2'>
                                          <p style='color:rgb(216, 76, 76)'> </p>
              
                                        </div>
                                        <div class='col-sm-7 col-md-7 col-lg-7'>
              
                                          <p style='font-weight:bold; color:rgb(240, 142, 142)'>Please enter a valid start and end date (Format : YYYY-MM-DD)</p>
                                        </div>
                                      </div>
                                    <!-- ENDS ERROR MESSAGE -->
                                      <br>
                                    </li>
                                  </ul>
                            {% elif wrongDate_start %}
                            <hr style = 'border: 1px solid #30475e'>
                                  <ul class="list-group" id="filters">
                                    <li class="filter list-group-item">
                                      <p>Enter a start and end date to see the daily maximum, minimum, and average temperatures</p>
                                      <br>
                                      <div class='row'>
                                        <div class='col-sm-2 col-md-2 col-lg-2'>
                                          <label id = "startDate_start_label" for="startDate_start">Start Date : </label>                            
                                        </div>
                                        <div class='col-sm-7 col-md-7 col-lg-7'>
                                          <input name = "startDate_start" class="form-control" id="startDate_start" type="text" placeholder="2014-04-01">
                                        </div>
                                      </div>
                                        <br>
                                      <div class='row'>
                                          <div class='col-sm-2 col-md-2 col-lg-2'>
                                            <label id = "startDate_end_label" for="startDate_end">End Date : </label>
                                          </div>
                                          <div class='col-sm-7 col-md-7 col-lg-7'>
                                            <input name = "startDate_end" class="form-control" id="startDate_end" type="text" placeholder="2017-04-01">
                                          </div>
                                          <div id = "filt_both" class='col-sm-2 col-md-2 col-lg-2'>
                                            <button id="filter-btn" type="submit" class="btn btn-default" name = "btn" value = "startDate_start">Filter Search</button>
                                          </div>
                                      </div>
                                    <!-- ERROR MESSAGE -->
                                      <div class='row'>
                                        <div class='col-sm-2 col-md-2 col-lg-2'>
                                          <p style='color:rgb(216, 76, 76)'> </p>
              
                                        </div>
                                        <div class='col-sm-7 col-md-7 col-lg-7'>
              
                                          <p style='font-weight:bold; color:rgb(240, 142, 142)'>Please enter a valid start date (Format : YYYY-MM-DD)</p>
                                          <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
                                        </div>
                                      </div>
                                    <!-- END ERROR MESSAGE -->
                                      <br>
                                    </li>
                                  </ul>
                            {% elif wrongDate_end %}
                                <hr style = 'border: 1px solid #30475e'>
                                  <ul class="list-group" id="filters">
                                    <li class="filter list-group-item">
                                      <p>Enter a start and end date to see the daily maximum, minimum, and average temperatures</p>
                                      <br>
                                      <div class='row'>
                                        <div class='col-sm-2 col-md-2 col-lg-2'>
                                          <label id = "startDate_start_label" for="startDate_start">Start Date : </label>                            
                                        </div>
                                        <div class='col-sm-7 col-md-7 col-lg-7'>
                                          <input name = "startDate_start" class="form-control" id="startDate_start" type="text" placeholder="2014-04-01">
                                        </div>
                                      </div>
                                        <br>
                                      <div class='row'>
                                          <div class='col-sm-2 col-md-2 col-lg-2'>
                                            <label id = "startDate_end_label" for="startDate_end">End Date : </label>
                                          </div>
                                          <div class='col-sm-7 col-md-7 col-lg-7'>
                                            <input name = "startDate_end" class="form-control" id="startDate_end" type="text" placeholder="2017-04-01">
                                          </div>
                                          <div id = "filt_both" class='col-sm-2 col-md-2 col-lg-2'>
                                            <button id="filter-btn" type="submit" class="btn btn-default" name = "btn" value = "startDate_start">Filter Search</button>
                                          </div>
                                      </div>
                                      <!-- ERROR MESSAGE -->
                                      <div class='row'>
                                        <div class='col-sm-2 col-md-2 col-lg-2'>
                                          <p style='color:rgb(216, 76, 76)'> </p>
              
                                        </div>
                                        <div class='col-sm-7 col-md-7 col-lg-7'>
              
                                          <p style='font-weight:bold; color:rgb(240, 142, 142)'>Please enter a valid end date (Format : YYYY-MM-DD)</p>
                                          <!-- <button type="button" class="close" data-dismiss="alert">&times;</button> -->
                                        </div>
                                      </div>
                                    <!-- END ERROR MESSAGE -->
                                      <br>
                                    </li>
                                  </ul>
                            {% elif wrongOrder %}
                                  <hr style = 'border: 1px solid #30475e'>
                                    <ul class="list-group" id="filters">
                                      <li class="filter list-group-item">
                                        <p>Enter a start and end date to see the daily maximum, minimum, and average temperatures</p>
                                        <br>
                                        <div class='row'>
                                          <div class='col-sm-2 col-md-2 col-lg-2'>
                                            <label id = "startDate_start_label" for="startDate_start">Start Date : </label>                            
                                          </div>
                                          <div class='col-sm-7 col-md-7 col-lg-7'>
                                            <input name = "startDate_start" class="form-control" id="startDate_start" type="text" placeholder="2014-04-01">
                                          </div>
                                        </div>
                                          <br>
                                        <div class='row'>
                                            <div class='col-sm-2 col-md-2 col-lg-2'>
                                              <label id = "startDate_end_label" for="startDate_end">End Date : </label>
                                            </div>
                                            <div class='col-sm-7 col-md-7 col-lg-7'>
                                              <input name = "startDate_end" class="form-control" id="startDate_end" type="text" placeholder="2017-04-01">
                                            </div>
                                            <div id = "filt_both" class='col-sm-2 col-md-2 col-lg-2'>
                                              <button id="filter-btn" type="submit" class="btn btn-default" name = "btn" value = "startDate_start">Filter Search</button>
                                            </div>
                                        </div>
                                        <!-- ERROR MESSAGE -->
                                        <div class='row'>
                                          <div class='col-sm-2 col-md-2 col-lg-2'>
                                            <p style='color:rgb(216, 76, 76)'> </p>
                                          </div>
                                          <div class='col-sm-7 col-md-7 col-lg-7'>
                                            <p style='font-weight:bold; color:rgb(240, 142, 142)'>Please enter an end date prior to the start date.</p>
                                          </div>
                                        </div>
                                      <!-- END ERROR MESSAGE -->
                                        <br>
                                      </li>
                                    </ul>
                            {% elif bothWrong %}
                                    <hr style = 'border: 1px solid #30475e'>
                                      <ul class="list-group" id="filters">
                                        <li class="filter list-group-item">
                                          <p>Enter a start and end date to see the daily maximum, minimum, and average temperatures</p>
                                          <br>
                                          <div class='row'>
                                            <div class='col-sm-2 col-md-2 col-lg-2'>
                                              <label id = "startDate_start_label" for="startDate_start">Start Date : </label>                            
                                            </div>
                                            <div class='col-sm-7 col-md-7 col-lg-7'>
                                              <input name = "startDate_start" class="form-control" id="startDate_start" type="text" placeholder="2014-04-01">
                                            </div>
                                          </div>
                                            <br>
                                          <div class='row'>
                                              <div class='col-sm-2 col-md-2 col-lg-2'>
                                                <label id = "startDate_end_label" for="startDate_end">End Date : </label>
                                              </div>
                                              <div class='col-sm-7 col-md-7 col-lg-7'>
                                                <input name = "startDate_end" class="form-control" id="startDate_end" type="text" placeholder="2017-04-01">
                                              </div>
                                              <div id = "filt_both" class='col-sm-2 col-md-2 col-lg-2'>
                                                <button id="filter-btn" type="submit" class="btn btn-default" name = "btn" value = "startDate_start">Filter Search</button>
                                              </div>
                                          </div>
                                          <!-- ERROR MESSAGE -->
                                          <div class='row'>
                                            <div class='col-sm-2 col-md-2 col-lg-2'>
                                              <p style='color:rgb(216, 76, 76)'> </p>
                                            </div>
                                            <div class='col-sm-7 col-md-7 col-lg-7'>
                                              <p style='font-weight:bold; color:rgb(240, 142, 142)'>The data only goes back as far as 2010-01-01, and the last date of the dataset is 2017-08-23. Please enter a start date after 2010-01-01 and an end date prior to 2017-08-23.</p>
                                            </div>
                                          </div>
                                        <!-- END ERROR MESSAGE -->
                                          <br>
                                        </li>
                                      </ul>
                            {% elif bothUnder %}
                                  <hr style = 'border: 1px solid #30475e'>
                                    <ul class="list-group" id="filters">
                                      <li class="filter list-group-item">
                                        <p>Enter a start and end date to see the daily maximum, minimum, and average temperatures</p>
                                        <br>
                                        <div class='row'>
                                          <div class='col-sm-2 col-md-2 col-lg-2'>
                                            <label id = "startDate_start_label" for="startDate_start">Start Date : </label>                            
                                          </div>
                                          <div class='col-sm-7 col-md-7 col-lg-7'>
                                            <input name = "startDate_start" class="form-control" id="startDate_start" type="text" placeholder="2014-04-01">
                                          </div>
                                        </div>
                                          <br>
                                        <div class='row'>
                                            <div class='col-sm-2 col-md-2 col-lg-2'>
                                              <label id = "startDate_end_label" for="startDate_end">End Date : </label>
                                            </div>
                                            <div class='col-sm-7 col-md-7 col-lg-7'>
                                              <input name = "startDate_end" class="form-control" id="startDate_end" type="text" placeholder="2017-04-01">
                                            </div>
                                            <div id = "filt_both" class='col-sm-2 col-md-2 col-lg-2'>
                                              <button id="filter-btn" type="submit" class="btn btn-default" name = "btn" value = "startDate_start">Filter Search</button>
                                            </div>
                                        </div>
                                        <!-- ERROR MESSAGE -->
                                        <div class='row'>
                                          <div class='col-sm-2 col-md-2 col-lg-2'>
                                            <p style='color:rgb(216, 76, 76)'> </p>
                                          </div>
                                          <div class='col-sm-7 col-md-7 col-lg-7'>
                                            <p style='font-weight:bold; color:rgb(240, 142, 142)'>The data only goes back to 2010-01-01. Please enter a valid start and end date after 2010-01-01.</p>
                                          </div>
                                        </div>
                                      <!-- END ERROR MESSAGE -->
                                        <br>
                                      </li>
                                    </ul>
                            {% elif startUnder %}
                                <hr style = 'border: 1px solid #30475e'>
                                  <ul class="list-group" id="filters">
                                    <li class="filter list-group-item">
                                      <p>Enter a start and end date to see the daily maximum, minimum, and average temperatures</p>
                                      <br>
                                      <div class='row'>
                                        <div class='col-sm-2 col-md-2 col-lg-2'>
                                          <label id = "startDate_start_label" for="startDate_start">Start Date : </label>                            
                                        </div>
                                        <div class='col-sm-7 col-md-7 col-lg-7'>
                                          <input name = "startDate_start" class="form-control" id="startDate_start" type="text" placeholder="2014-04-01">
                                        </div>
                                      </div>
                                        <br>
                                      <div class='row'>
                                          <div class='col-sm-2 col-md-2 col-lg-2'>
                                            <label id = "startDate_end_label" for="startDate_end">End Date : </label>
                                          </div>
                                          <div class='col-sm-7 col-md-7 col-lg-7'>
                                            <input name = "startDate_end" class="form-control" id="startDate_end" type="text" placeholder="2017-04-01">
                                          </div>
                                          <div id = "filt_both" class='col-sm-2 col-md-2 col-lg-2'>
                                            <button id="filter-btn" type="submit" class="btn btn-default" name = "btn" value = "startDate_start">Filter Search</button>
                                          </div>
                                      </div>
                                      <!-- ERROR MESSAGE -->
                                      <div class='row'>
                                        <div class='col-sm-2 col-md-2 col-lg-2'>
                                          <p style='color:rgb(216, 76, 76)'> </p>
                                        </div>
                                        <div class='col-sm-7 col-md-7 col-lg-7'>
                                          <p style='font-weight:bold; color:rgb(240, 142, 142)'>The data only goes back to 2010-01-01. Please enter a valid start date after 2010-01-01.</p>
                                        </div>
                                      </div>
                                    <!-- END ERROR MESSAGE -->
                                      <br>
                                    </li>
                                  </ul>
                            {% elif bothOver %}
                                <hr style = 'border: 1px solid #30475e'>
                                  <ul class="list-group" id="filters">
                                    <li class="filter list-group-item">
                                      <p>Enter a start and end date to see the daily maximum, minimum, and average temperatures</p>
                                      <br>
                                      <div class='row'>
                                        <div class='col-sm-2 col-md-2 col-lg-2'>
                                          <label id = "startDate_start_label" for="startDate_start">Start Date : </label>                            
                                        </div>
                                        <div class='col-sm-7 col-md-7 col-lg-7'>
                                          <input name = "startDate_start" class="form-control" id="startDate_start" type="text" placeholder="2014-04-01">
                                        </div>
                                      </div>
                                        <br>
                                      <div class='row'>
                                          <div class='col-sm-2 col-md-2 col-lg-2'>
                                            <label id = "startDate_end_label" for="startDate_end">End Date : </label>
                                          </div>
                                          <div class='col-sm-7 col-md-7 col-lg-7'>
                                            <input name = "startDate_end" class="form-control" id="startDate_end" type="text" placeholder="2017-04-01">
                                          </div>
                                          <div id = "filt_both" class='col-sm-2 col-md-2 col-lg-2'>
                                            <button id="filter-btn" type="submit" class="btn btn-default" name = "btn" value = "startDate_start">Filter Search</button>
                                          </div>
                                      </div>
                                      <!-- ERROR MESSAGE -->
                                      <div class='row'>
                                        <div class='col-sm-2 col-md-2 col-lg-2'>
                                          <p style='color:rgb(216, 76, 76)'> </p>
                                        </div>
                                        <div class='col-sm-7 col-md-7 col-lg-7'>
                                          <p style='font-weight:bold; color:rgb(240, 142, 142)'>The last date of the dataset is 2017-08-23. Please enter a valid start and end date prior to 2017-08-23.</p>
                                        </div>
                                      </div>
                                    <!-- END ERROR MESSAGE -->
                                      <br>
                                    </li>
                                  </ul>
                            {% elif startOver %}
                                  <hr style = 'border: 1px solid #30475e'>
                                    <ul class="list-group" id="filters">
                                      <li class="filter list-group-item">
                                        <p>Enter a start and end date to see the daily maximum, minimum, and average temperatures</p>
                                        <br>
                                        <div class='row'>
                                          <div class='col-sm-2 col-md-2 col-lg-2'>
                                            <label id = "startDate_start_label" for="startDate_start">Start Date : </label>                            
                                          </div>
                                          <div class='col-sm-7 col-md-7 col-lg-7'>
                                            <input name = "startDate_start" class="form-control" id="startDate_start" type="text" placeholder="2014-04-01">
                                          </div>
                                        </div>
                                          <br>
                                        <div class='row'>
                                            <div class='col-sm-2 col-md-2 col-lg-2'>
                                              <label id = "startDate_end_label" for="startDate_end">End Date : </label>
                                            </div>
                                            <div class='col-sm-7 col-md-7 col-lg-7'>
                                              <input name = "startDate_end" class="form-control" id="startDate_end" type="text" placeholder="2017-04-01">
                                            </div>
                                            <div id = "filt_both" class='col-sm-2 col-md-2 col-lg-2'>
                                              <button id="filter-btn" type="submit" class="btn btn-default" name = "btn" value = "startDate_start">Filter Search</button>
                                            </div>
                                        </div>
                                        <!-- ERROR MESSAGE -->
                                        <div class='row'>
                                          <div class='col-sm-2 col-md-2 col-lg-2'>
                                            <p style='color:rgb(216, 76, 76)'> </p>
                                          </div>
                                          <div class='col-sm-7 col-md-7 col-lg-7'>
                                            <p style='font-weight:bold; color:rgb(240, 142, 142)'>The last date of the dataset is 2017-08-23. Please enter a valid start date prior to 2017-08-23.</p>
                                          </div>
                                        </div>
                                      <!-- END ERROR MESSAGE -->
                                        <br>
                                      </li>
                                    </ul>
                            {% elif endOver %}
                                <hr style = 'border: 1px solid #30475e'>
                                  <ul class="list-group" id="filters">
                                    <li class="filter list-group-item">
                                      <p>Enter a start and end date to see the daily maximum, minimum, and average temperatures</p>
                                      <br>
                                      <div class='row'>
                                        <div class='col-sm-2 col-md-2 col-lg-2'>
                                          <label id = "startDate_start_label" for="startDate_start">Start Date : </label>                            
                                        </div>
                                        <div class='col-sm-7 col-md-7 col-lg-7'>
                                          <input name = "startDate_start" class="form-control" id="startDate_start" type="text" placeholder="2014-04-01">
                                        </div>
                                      </div>
                                        <br>
                                      <div class='row'>
                                          <div class='col-sm-2 col-md-2 col-lg-2'>
                                            <label id = "startDate_end_label" for="startDate_end">End Date : </label>
                                          </div>
                                          <div class='col-sm-7 col-md-7 col-lg-7'>
                                            <input name = "startDate_end" class="form-control" id="startDate_end" type="text" placeholder="2017-04-01">
                                          </div>
                                          <div id = "filt_both" class='col-sm-2 col-md-2 col-lg-2'>
                                            <button id="filter-btn" type="submit" class="btn btn-default" name = "btn" value = "startDate_start">Filter Search</button>
                                          </div>
                                      </div>
                                      <!-- ERROR MESSAGE -->
                                      <div class='row'>
                                        <div class='col-sm-2 col-md-2 col-lg-2'>
                                          <p style='color:rgb(216, 76, 76)'> </p>
                                        </div>
                                        <div class='col-sm-7 col-md-7 col-lg-7'>
                                          <p style='font-weight:bold; color:rgb(240, 142, 142)'>The last date of the dataset is 2017-08-23. Please enter a valid end date prior to 2017-08-23.</p>
                                        </div>
                                      </div>
                                    <!-- END ERROR MESSAGE -->
                                      <br>
                                    </li>
                                  </ul>
                            {% else %}
                                <hr style = 'border: 1px solid #30475e'>
                                  <ul class="list-group" id="filters">
                                    <li class="filter list-group-item">
                                      <p>Enter a start and end date to see the daily maximum, minimum, and average temperatures</p>
                                      <br>
                                      <div class='row'>
                                        <div class='col-sm-2 col-md-2 col-lg-2'>
                                          <label id = "startDate_start_label" for="startDate_start">Start Date : </label>                            
                                        </div>
                                        <div class='col-sm-7 col-md-7 col-lg-7'>
                                          <input name = "startDate_start" class="form-control" id="startDate_start" type="text" placeholder="2014-04-01">
                                        </div>
                                      </div>
                                        <br>
                                      <div class='row'>
                                          <div class='col-sm-2 col-md-2 col-lg-2'>
                                            <label id = "startDate_end_label" for="startDate_end">End Date : </label>
                                          </div>
                                          <div class='col-sm-7 col-md-7 col-lg-7'>
                                            <input name = "startDate_end" class="form-control" id="startDate_end" type="text" placeholder="2017-04-01">
                                          </div>
                                          <div id = "filt_both" class='col-sm-2 col-md-2 col-lg-2'>
                                            <button id="filter-btn" type="submit" class="btn btn-default" name = "btn" value = "startDate_start">Filter Search</button>
                                          </div>
                                      </div>
                                      <br>
                                    </li>
                                  </ul>
                            {% endif %}
                          <!---==========================--> 
                          <!---==========================--> 
                           <!---ENDS START AND END FILTER--> 
                              
          
                             
                            </div>
                          </form>
                        
                        
                        
                        </div> <!-- ENDS <div class="tab-pane fade in active" id="home"> -->
                      <!-- <div id="menu1" class="tab-pane fade">Hello World</div> -->
 
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>



        {% if precipLast12Months %}
            <div class = 'container container-fluid'>
              <div class="row justify-content-center">
              <div class="col-sm-12 col-md-12 col-md-12" id="element_target">
                <h1 id = "currentPage" class="text-info">Dates and Precipitation Scores Per Day for the Last 12 Months</h1>
                <br>
                <h2 class="text-info">The the highest precipitation score occured on <span style="color:whitesmoke"> {{ highestPrecipDate }} </span>with a score of <span style="color:whitesmoke">{{ highestPrecip }} </span></h2>
                <br>
                <h2 class="text-info">Statistics</h2>

                <h3 style="color:whitesmoke" class="text-info">Count : {{ precipCount }}</h3>
                <h3 style="color:whitesmoke" class="text-info">Mean : {{ precipMean }}</h3>
                <h3 style="color:whitesmoke" class="text-info">Standard Deviation : {{ precipStd }}</h3>
                <h3 style="color:whitesmoke" class="text-info">Minimum : {{ precipMin }}</h3>
                <h3 style="color:whitesmoke" class="text-info">25% Quartile : {{ precip25 }}</h3>
                <h3 style="color:whitesmoke" class="text-info">50% Quartile : {{ precip50 }}</h3>
                <h3 style="color:whitesmoke" class="text-info">75% Quartile : {{ precip75 }}</h3>
                <h3 style="color:whitesmoke" class="text-info">Maximum : {{ precipMax }}</h3>
                <br>
                <h2 class="text-info">Visualization</h2>
                <div id = 'precip_div'></div>
                <br>
                <h2 class="text-info">Data </h2>
                <div style="border:none;" id="table-area" class="table-responsive">
                  <br>
                  <table id="ufo-table" class="table table-striped table-hover">
                    <thead>
                      <tr class = "myPrecipTable">
                        <th class="table-head">Date</th>
                        <th class="table-head">Precipitation1<br> [P1]</th>
                        <th class="table-head"> P2</th>
                        <th class="table-head"> P3</th>
                        <th class="table-head"> P4</th>
                        <th class="table-head"> P5</th>
                        <th class="table-head"> P6</th>
                        <th class="table-head"> P7</th>
                      </tr>
                    </thead>
                    <tbody id = "table-body"></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        {% if stationList %}
            <div class = 'container container-fluid'>
              <div class="row justify-content-center">
              <div class="col-sm-12 col-md-12 col-md-12" id="element_target">
                <h1 id = "currentPage" class="text-info">Stations in the Dataset</h1>
                <br>
                <h2 class="text-info">Statistics</h2>
                <h3 class='text-info'>There are <span style="color:whitesmoke">{{ stationCount }} </span>stations in the dataset</h3>
                <h3 id = "top_station" class='text-info'></h3>
                <h3 id = "top_station_stats_header" class='text-info'></h3>
                <h4 id = "top_station_stats_1" class='text-info'></h4>
                <h4 id = "top_station_stats_2" class='text-info'></h4>
                <h4 id = "top_station_stats_3" class='text-info'></h4>
                <br>
                <h2 class="text-info">Visualization</h2>
                <div id="hist_tobs"></div>
                <br>
                <h2 class="text-info">Data</h2>
                <div style="border:none;" id="table-area" class="table-responsive">
                  <table id="ufo-table" class="table table-striped">
                    <thead>
                      <tr class = "myStationTable">
                        <th class="table-head">Station Name</th>
                        <th class="table-head">Station Count</th>
                      </tr>
                    </thead>
                    <tbody id = "table-body"></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        {% if myTOBS %}
        <!-- <div class="row justify-content-center">
          <div class="col-md-10">
            <div id = 'myDiv'></div>
        </div>
      </div> -->
            <div class = 'container container-fluid'>
              <div class="row justify-content-center">
                <div class="col-sm-12 col-md-12 col-md-12" id="element_target">
                  <h1 id = "currentPage" class="text-info">Temperature Observations (TOBS) for the Last 12 Months</h1>
                  <h2 class="text-info">Visualization </h2>

                  <br>
                  <div id = 'myDiv'></div>
              </div>
            </div>
            <br>
              <div class="row justify-content-center">
              <div class="col-sm-12 col-md-12 col-md-12">
                <h2 class="text-info">Data </h2>
                <!-- <h2 id = "currentPage" class="text-info">Temperature observations (TOBS) for the last 12 months : </h2> -->
                <div style="border:none;"  id="table-area" class="table-responsive">
                  <table id="ufo-table" class="table table-striped">
                    <thead>
                      <tr class="myTOBSTable">
                        <th class="table-head">Date</th>
                        <th class="table-head">Temperature (<span>&#176;</span>F)</th>
                      </tr>
                    </thead>
                    <tbody id = "table-body"></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        {% if myNormals %}
          <div class='container container-fluid'>
            <div class="row justify-content-center">
              <div class="col-sm-12 col-md-12 col-md-12" id="element_target">
                  <h1 id = "currentPage" class="text-info">Daily Normals since {{ myStart }} </h1>
                  <br>
                  <h2 class="text-info">Statistics</h2>
                  <h3 id = "max-temp" class='text-info'></h3>
                  <h3 id = "min-temp" class='text-info'></h3>
                  <h3 id = "average-temp" class='text-info'></h3>
                  <br>
                  <h2 class="text-info">Visualization </h2>
                  <div id = 'normDiv'></div>
                </div>
              </div>
              <br>
                  <!-- <h2 id = "currentPage" class="text-info">Temperature observations (TOBS) for the last 12 months : </h2> -->
            <div class="row justify-content-center">
              <div class="col-sm-12 col-md-12 col-md-12">
                <h2 class="text-info">Data </h2>
                  <div style="border:none;" id="table-area" class="table-responsive">
                    <table id="ufo-table" class="table table-striped">
                      <thead>
                        <tr class="myStartOnlyTable">
                          <th class="table-head">Date</th>
                          <th class="table-head">Minimum<br>Temperature</th>
                          <th class="table-head">Average<br>Temperature</th>
                          <th  class="table-head">Maximum<br>Temperature</th>
                        </tr>
                      </thead>
                      <tbody id = "table-body"></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
        {% endif %}

        {% if myNormalsStartEnd %}
        <div class='container container-fluid'>
          <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-md-12" id="element_target">
                <h2 id = "currentPage" class="text-info">Daily Normals from {{ myStart }} to {{ myEnd }} </h2>
                <br>
                  <h2 class="text-info">Statistics</h2>
                  <h3 id = "max-temp" class='text-info'></h3>
                  <h3 id = "min-temp" class='text-info'></h3>
                  <h3 id = "average-temp" class='text-info'></h3>
                <br>
                <h2 class="text-info">Visualization </h2>
                <div id = 'normDiv'></div>
              </div>
            </div>
            <br>
                <!-- <h2 id = "currentPage" class="text-info">Temperature observations (TOBS) for the last 12 months : </h2> -->
          <div class="row justify-content-center">
            <div class="col-sm-12 col-md-12 col-md-12">
                <div style="border:none;" id="table-area" class="table-responsive">
                  <table id="ufo-table" class="table table-striped">
                    <thead>
                      <tr class="myStartEndTable">
                        <th class="table-head">Date</th>
                        <th class="table-head">Minimum<br>Temperature</th>
                        <th class="table-head">Average<br>Temperature</th>
                        <th class="table-head">Maximum<br>Temperature</th>
                      </tr>
                    </thead>
                    <tbody id = "table-body"></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
      {% endif %}


 

 
    <footer class="footer">
      <div class="container">
        <div class="row">
            <div style = "text-align: center" class="col-sm-12 col-md-12 col-lg-12">
              <h5>Want to contribute?</h5>
              <p class="text-center"><a href="https://github.com/maivey/explore-bikeshare-data">Join the Github!</a></p>
                  <br>
                </div>
              </div>
          </div>
      <span class="bottom">Hawaii Climate App</span>
    </footer>
  </div>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
  <!-- <script type="text/javascript" src='./static/js/app.js'></script> -->


  <!-- <script src="static/js/data.js"></script> -->
  <!-- <script src="static/js/app.js"></script> -->
</body>

</html>
